<div class="footer">
  <div class="container">
    <div class="row">

      <div class="col-6 d-flex">
        <nav class="column__first">
          <ul class="footer__menu">
            <li class="footer__menu">
              <a class="footer__menu-link footer__menu-main" href="#">TOP FORUM</a>
            </li>
            <li class="footer__menu">
              <a class="footer__menu-link" href="#">Sponsors</a>
            </li>
            <li class="footer__menu">
              <a class="footer__menu-link" href="#">Exhibitors</a>
            </li>
            <li class="footer__menu">
              <a class="footer__menu-link" href="#">Speakers</a>
            </li>
            <li class="footer__menu">
              <a class="footer__menu-link" href="#">Media</a>
            </li>
          </ul>
        </nav>

        <ul class="footer__second">
          <li class="footer__menu">
            <a class="footer__menu-link footer__menu-main" href="#">CONTACT</a>
          </li>
          <li class="footer__menu">
            <a class="footer__menu-link" href="#">Top Forum Group</a>
          </li>
          <li class="footer__menu">
            <a class="footer__menu-link footer__menu--space" href="#">Trnavska cesta 82, 821 02 Bratislava, Slovakia</a>
          </li>
          <li class="footer__menu">
            <a class="footer__menu-link" href="tel:+421221025322">+421 221 025 322</a>
          </li>
          <li class="footer__menu">
            <a class="footer__menu-link" href="mailto:info@top forum.com">info@top forum.com</a>
          </li>
        </ul>
      </div>
      <div class="col-2 offset-4">
        <div class="footer__follow">
          <a class="footer__follow-link footer__menu-main" href="#">FOLLOW US</a>
        </div>
      </div>

    </div>

    <div class="row footer__bottom-row">
      <div class="col-4">
        <div class="footer__bottom-text">© 2014 Top Forum Group. All rights reserved.</div>
      </div>
      <div class="col-3 offset-5 d-flex align-middle">
        <div class="footer__logo-text">Website development:</div>
        <a class="footer__logo" href="#"><img src="images/footer__logo.png" alt="footer__logo"></a>
      </div>
    </div>
  </div>

  <div class="overlay fade">
    <div class="popup">
      <div class="popup-close">&times;
      </div>
      <div class="popup-title">
        <div class="popup-title-subscribe">SUBSCRIBE</div>
        <div class="popup-title-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>

      </div>
      <div class="popup-form">
        <form action="#" class="main-form">
          <input required class="popup-form-input" type="text" placeholder="Name and surname">
          <input required class="popup-form-input" type="text" placeholder="Company name">
          <input required class="popup-form-input" type="text" placeholder="E-mail">
          <button class="popup-form__btn">
            SUBSCRIBE
          </button>
        </form>
      </div>
    </div>
  </div>