<header>

  <div class="menu">
    <div class="container">
      <div class="row">

        <div class="col-4">
          <nav>
            <ul class="menu__list d-flex">
              <li class="menu__item">
                <a class="menu__link" href="#">Sponsors</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">Exhibitors</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">Speakers</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">Media</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-2 offset-6">
          <button class="menu__button">TOP FORUM CLUB</button>
        </div>
      </div>

    </div>
  </div>

  <div class="menu__second header--border">
    <div class="container">
      <div class="row">
        <div class="col-6 d-flex align-items-center">
          <a href="#" class="header__logo"><img src="images/icons/header__logo.png" alt=""></a>
          <a href="#" class="menu__second-cup"><img src="images/icons/header__icon-cup.png" alt="header__icon-cup"></a>
          <a href="#" class="menu__second-event menu__second-link">UPCOMING EVENTS</a>
          <a href="#" class="menu__second-flag"><img src="images/icons/header__icon-flag.png" alt="header__icon-flag"></a>
          <a href="#" class="menu__second-contacts menu__second-link">CONTACTS</a>

        </div>
        <div class="col-2 offset-4">
          <button class="menu__second-button">REGISTER NOW</button>
        </div>
      </div>
    </div>
  </div>
</header>