<header>

  <div class="menu">
    <div class="container-lg">
      <div class="row">

        <div class="col-auto col-sm-2 col-md-4 col-lg-4">
          <nav>
            <ul class="menu__list d-flex">
              <li class="menu__item menu__link--padding">
                <a class="menu__link menu__item-sponsors" href="#">Sponsors</a>

                <ul class="menu__item-sponsors-list">
                  <li class="menu__item-exhibitors__item">
                    <a class="menu__item-exhibitors__link sponsors__link--border" href="#">General Sponsor</a>
                  </li>
                  <li class="menu__item-exhibitors__item">
                    <a class="menu__item-exhibitors__link sponsors__link--border" href="#">Platinum Sponsor</a>
                  </li>
                  <li class="menu__item-exhibitors__item">
                    <a class="menu__item-exhibitors__link sponsors__link--border" href="#">High-Tech Sponsor</a>
                  </li>
                  <li class="menu__item-exhibitors__item">
                    <a class="menu__item-exhibitors__link sponsors__link--border" href="#">Gold Sponsor</a>
                  </li>
                  <li class="menu__item-exhibitors__item">
                    <a class="menu__item-exhibitors__link sponsors__link--border" href="#">Silver Night Sponsor</a>
                  </li>
                </ul>
              </li>

              <li class="menu__item">
                <a class="menu__link menu__item-exhibitors" href="#">Exhibitors</a>
                <ul class="menu__item-exhibitors-list">
                  <li class="menu__item-exhibitors__item">
                    <a class="menu__item-exhibitors__link" href="#">Wealth TOP FORUM Israel 2016</a>
                  </li>
                  <li class="menu__item-exhibitors__item">
                    <a class="menu__item-exhibitors__link" href="#">Another name of the conference</a>
                  </li>
                  <li class="menu__item-exhibitors__item">
                    <a class="menu__item-exhibitors__link" href="#">Another name of the conference 2016</a>
                  </li>
                </ul>
              </li>

              <li class="menu__item">
                <a class="menu__link menu__item-speakers" href="#">Speakers</a>
                <ul class="menu__item-speaker-list">
                  <li class="menu__item-exhibitors__item">
                    <a class="menu__item-exhibitors__link" href="#">Wealth TOP FORUM Israel 2016</a>
                  </li>
                  <li class="menu__item-exhibitors__item">
                    <a class="menu__item-exhibitors__link" href="#">Another name of the conference</a>
                  </li>
                  <li class="menu__item-exhibitors__item">
                    <a class="menu__item-exhibitors__link" href="#">Another name of the conference 2016</a>
                  </li>
                </ul>
              </li>

              <li class="menu__item">
                <a class="menu__link" href="#">Media</a>
              </li>
            </ul>

            <div class="burger-menu">
              <span class="burger-menu__line burger-menu__line1"></span>
              <span class="burger-menu__line burger-menu__line2"></span>
              <span class="burger-menu__line burger-menu__line3"></span>
            </div>

          </nav>
        </div>
        <div class="col-auto col-sm-auto ml-auto">
          <button class="menu__button">TOP FORUM CLUB</button>
        </div>
      </div>

    </div>
  </div>

  <div class="menu__second header--border">
    <div class="container-lg">
      <div class="row">
        <div class="col-auto col-6 d-flex align-items-center">
          <a href="#" class="header__logo"><img src="images/icons/header__logo.png" alt=""></a>
          <a href="#" class="menu__second-cup"><img src="images/icons/header__icon-cup.png" alt="header__icon-cup"></a>
          <a href="#" class="menu__second-event menu__second-link">UPCOMING EVENTS</a>
          <a href="#" class="menu__second-flag"><img src="images/icons/header__icon-flag.png"
              alt="header__icon-flag"></a>
          <a href="#" class="menu__second-contacts menu__second-link">CONTACTS</a>

        </div>
        <div class="col-auto col-sm-auto ml-auto">
          <button class="menu__second-button">REGISTER NOW</button>
        </div>
      </div>
    </div>
  </div>
</header>